header {
  font-size:40px;
  font-family: sans-serif;
  color: grey;
}
.bgpink{
  background-color: pink;
}

#sidepic{
  width: 400px;
  height: 400px;
}

#freewomen{
  width:400px
}

  }

}
body {
  background-size: cover;
<<<<<<< HEAD
  background-color: :yellow;
=======
  background-color: :#fffec6;
>>>>>>> 384313fb3a731a63774269045df98471072890ce

}
h1{
  color: pink;
}

h2 {
font-family:helvetica;
font-size: 20px;
font-weight: lighter;
text-align: center;
color: red;
}

p {
  text-align: center;
}

img {
text-align: center;

}

.img-circle {
    border-radius: 50%;
}

.top-column{
  display: inline-block;
}



div {
  text-align:center;
}

li {
  text-align: center;
  font-family:helvetica;
  color: grey;
  font-size: 20px

}
a {
  font-size: 30px
}
#mainpic {
  width: 400px;

}

form{
  margin: 0 auto;
  width: 200px;
}
<<<<<<< HEAD
=======
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa {
  padding: 15px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
>>>>>>> 384313fb3a731a63774269045df98471072890ce
